<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">{{ shop.name }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for link in section.settings.menu.links %}
          {% if link.links != blank %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">{{ link.title }}</a>
              <ul class="dropdown-menu">
                {% for childlink in link.links %}
                  <li>
                    <a class="dropdown-item" href="{{childlink.url}}">{{ childlink.title }}</a>
                  </li>

                {% endfor %}

              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{link.url}}">{{ link.title }}</a>


            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <a
        href="/cart"
        type="button"
        class="btn ">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-bag"
          viewBox="0 0 16 16">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
        </svg>
        cart</a>
      {% if shop.customer_accounts_enabled %}

        {% if customer.has_account %}

          {{ 'logout' | customer_logout_link | replace: '<a', '<a class ="text-dark px-2" ' }}

        {% else %}
          {{ 'login' | customer_login_link | replace: '<a', '<a class =" px-2" ' }}
          {{ '/' | replace: '<a', '<a class ="text-dark " ' }}
          {{ 'Register' | customer_register_link | replace: '<a', '<a class ="text-dark px-2" ' }}


        {% endif %}


      {% endif %}

    </div>
  </div>
</nav>


{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }


{% endschema %}